*{
    margin:0px;
}
header{
    color:black;
    border:2px solid white;
    display:inline-block;
    width:fit-content;
    background-color:gainsboro;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
}
header:hover{
    background-color: aqua;
    border:2px solid chocolate;
}
body{
    text-align: center;
    background-color:silver;
}
img{
    border: 2px solid seashell;
    border-radius: 15px;
    box-shadow: 30px;
}
img:hover{
    border: 2px solid black;
}
